body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 50px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

section h2 {
    font-size: 30px;
    text-align: center;
}

section p {
    font-size: 20px;
    text-align: center;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#botonRegistro {
    text-align: center;
}

.registro {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #525252;
    color: #fff;
    border: none;
    cursor: pointer;
}

#datosRegistrados {
    margin-bottom: 100px; 
}

#formularioRegistro {
    width: 300px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
}

#registroForm label {
    display: block;
    margin-bottom: 10px;
}

#registroForm input[type="text"],
#registroForm input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#registroForm input[type="submit"] {
    width: 100%;
    background-color: #9b9b9b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#registroForm input[type="submit"]:hover {
    background-color: #929292;
}
