body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


section p {
    font-size: 25px;
    text-align: center;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 5px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#botonRegistro {
    text-align: center;
}

.registro {

    padding: 10px 20px;
    font-size: 16px;
    background-color: #525252;
    color: #fff;
    border: none;
    cursor: pointer;
}

#datosRegistrados {
    margin-bottom: 100px; /* Ajusta el valor según sea necesario para separar el contenido del footer */
}